<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="krri_ver1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <krri_ver1.Properties.Settings>
            <setting name="Dust_TH" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Co2_TH" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Wind_TH" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Voc_TH" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Temperature_TH" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Humidity_TH" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Sound_TH" serializeAs="String">
                <value>95</value>
            </setting>
        </krri_ver1.Properties.Settings>
    </userSettings>
</configuration>